@page
@model principalApp.Pages.Production.Tools.TProdProducts.CreateModel
@{
    ViewData["Title"] = "Crear un Producto";
    Layout = "_FormsLayout";
}

<form class="row gy-2 gx-3 align-items-center" id="productCreateForm">
    <div class="text-danger"></div>
    <div class="card mb-4">
        <div class="row justify-content-center">
            <div class="card-body">
                <label>Detalles del Producto</label>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-floating mb-3">
                    <input id="Name" name="Name" class="form-control" placeholder="Nombre del producto" required />
                    <label>Nombre</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-check mb-3">
                    <input id="Status" name="Status" class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Activo</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body text-center">
        <a id="save" name="save" class="btn btn-success col-md-3 col-sm-3 mb-3" type="button"><i class="fas fa-save"></i>&thinsp;Guardar</a>
        <a id="cancel" name="cancel" class="btn btn-danger col-md-3 col-sm-3 mb-3" href="javascript:history.back()"><i class="fas fa-xmark"></i>&thinsp;Cancelar</a>
    </div>
</form>

<script>
    window.onload = function () {
        let save = document.getElementById('save');
        save.addEventListener('click', saveData);
    };

    function saveData(e) {
        const checkbox1 = document.getElementById('Status');
        fetch("@Url.Action("CreateProduct", "TProdProduct")", {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                Name: document.getElementById('Name').value,
                Status: checkbox1.checked
            }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data && data.message) {
                    Swal.fire({
                        title: 'Mensaje',
                        text: data.message,
                        icon: 'success',
                        iconColor: '#198754',
                        confirmButtonColor: '#198754',
                        confirmButtonText: 'Aceptar',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            localStorage.setItem('actionRealiced', 'true');
                            history.back();
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    title: 'Error',
                    text: 'Error al crear registro',
                    icon: 'error',
                    iconColor: '#dc3545',
                    confirmButtonColor: '#dc3545',
                    confirmButtonText: 'Aceptar',
                });
            });
    }
</script>